@import url('https://fonts.googleapis.com/css?family=Cherry+Cream+Soda');


body {
  font-family: 'Cherry Cream Soda', cursive;
  background-color: black;
  background-image: url('./assets/Space-Desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #0EFEE0;
}